[submodule "ns-3-cos561"]
	path = ns-3-cos561
	url = git@github.com:cdgreenidge/ns-3-cos561.git
	branch = dev
[submodule "ns-3"]
	path = ns-3
	url = git@github.com:cdgreenidge/ns-3-cos561.git
	branch = dev
